/.project
/tmp/
/target/
/test/
.texlipse
.settings
.DS_Store

# Intermediate Files
*.aux 
*.log 
*.bbl 
*.bcf 
*.blg 
*.brf 
*.mw 
*.out 
*.run.xml^
*.acn*
*.acr*
*.alg*
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.nlo
*.nls^
*.loa
*.loc
*.lod
*.lof
*.loh
*.lop
*.lot
*.tdo
*.toc^
*.bak
*.nav 
*.snm
*.synctex.gz

# Final files
*.dvi
*.ps
